name: galacean_native_player
description: "一个用于在 Flutter 中播放 Galacean Effects 的插件，支持 Android 和 iOS 平台。提供完整的播放控制、状态监听和错误处理功能。"
version: 1.0.0
homepage: https://github.com/kaierwen/galacean_native_player
repository: https://github.com/kaierwen/galacean_native_player
issue_tracker: https://github.com/kaierwen/galacean_native_player/issues

environment:
  sdk: ^3.6.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: github.kaierwen.galacean.galacean_native_player
        pluginClass: GalaceanNativePlayerPlugin
      ios:
        pluginClass: GalaceanNativePlayerPlugin
